" See https://www.cyberwizard.io/posts/the-ultimate-ideavim-setup/ for reference

set scrolloff=10
set showmode
set showcmd
set visualbell
set relativenumber
set number
set ignorecase
set smartcase
set incsearch
set hlsearch

let mapleader = " "

" Briefly highlight yanked text
set highlightedyank

" Vim-like control over the file explorer
set NERDTree 

Plug 'tpope/vim-surround'

" Key mappings
inoremap jk <Esc>

" Pane navigation
nnoremap <C-h> <C-w>h
nnoremap <C-l> <C-w>l
" nnoremap <C-k> <C-w>k " Not needed since I don't split vertically
" nnoremap <C-j> <C-w>j

" Split
nnoremap <leader>sv :vsplit<CR>

" Quit
nnoremap <leader>c :q!<CR>

" Open/close NERDTree (use q to exit)
nmap <leader>e :NERDTreeToggle<CR>

" Folding
nmap <leader>zc <Action>(CollapseAllRegions)<CR>
nmap <leader>ze <Action>(ExpandAllRegions)<CR>

" File navigation
nmap <C-f> <action>(GotoFile)
nmap <leader>fb <action>(RecentFiles)
nmap <leader>fs <action>(FindInPath)

" Refactoring
nmap <leader>rn <Action>(RenameElement)
nmap <leader>rs <Action>(ChangeSignature)
nmap <leader>ra <Action>(Refactorings.QuickListPopupAction)

" Go to code
nmap gd <Action>(GotoDeclaration)
nmap gy <Action>(GotoTypeDeclaration)
nmap gi <Action>(GotoImplementation)
nmap gf <Action>(ShowUsages)
nmap <C-p> <Action>(Back)
nmap <C-n> <Action>(Forward)

" Errors
nmap ]d <Action>(GotoNextError)<CR>
nmap [d <Action>(GotoPreviousError)<CR>

" Tabs
nmap <leader>tl <Action>(NextTab)<CR>
nmap <leader>th <Action>(PreviousTab)<CR>

" Save
nmap <leader>w <Action>(SaveAll)<CR>

" Terminal
nmap <leader>tt <Action>(ActivateTerminalToolWindow)<CR>
" (I tried finding a command to toggle the RH pane but no luck)

" Block comment
vmap gc <Action>(CommentByBlockComment)<CR>

" Block comment
nmap <leader>re <Action>(SelectInProjectView)<CR>

nmap <leader>j :nohl<CR>
